# 依赖目录
node_modules/
node_modules.bak*/

# 日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 环境变量
.env
.env.*

# 缓存文件
.npm/
.eslintcache
.yarn-integrity

# 覆盖率产物
coverage/
.nyc_output/

# 打包与发布产物
*.tgz
build/
dist/
publish/assets/
